PORT = 5000
MONGO_URL=mongodb+srv://Shyam:9597129435@cluster0.azejmod.mongodb.net/?appName=Cluster0
AIRTABLE_CLIENT_ID=1dcea135-d8f5-4981-8626-aa277915bd8c
AIRTABLE_CLIENT_SECRET = 681cc515cf9c9149ae9338aae2cb71bad8f4ccd86e79faae0d22c1b4c648dd0b
AIRTABLE_REDIRECT_URI=http://localhost:5000/auth/airtable/callback
AIRTABLE_AUTH_URL=https://airtable.com/oauth2/v1/authorize
AIRTABLE_TOKEN_URL=https://airtable.com/oauth2/v1/token
WEBHOOK_BASE_ID=692c270b7f90e40431a60908
WEBHOOK_TABLE_ID=tbliFxvwhuakqtxX2
WEBHOOK_CALLBACK_URL=http:localhost://5000/webhooks/airtable
FRONTEND_URL = http://localhost:5173